## 01 Scale Machine Learning Data

Many ML algorithms expect data to be scaled consistenly. There are two popular methods `Normalize` and `Standardize` that we should consider when scaling our data, in that tutorial we going to learn them and when to Normalize and Standarize 

Scale help methods that weight inputs in order to make predictions such as *Regression Models* or *Logistic Regresion* and its practically required in complex methos that combine weighted inputs in compex weights like NN or DL

Dataset: Pima Indians Diabetes Dataset. 

    This dataset involves the prediction of the onset of diabetes within 5 years. The baseline perfomance on the probel is approximately 65%

In [20]:
import pandas as pd
import os

In [21]:
"""
# Running from my local enviroment.

data = os.environ.get('data') # avoid personal information in the notebook
data_path = data + '\\02_ML\\01_pima-indians-diabetes.csv'
df_diabetes = pd.read_csv(data_path)
"""

"\n# Running from my local enviroment.\n\ndata = os.environ.get('data') # avoid personal information in the notebook\ndata_path = data + '\\02_ML\\01_pima-indians-diabetes.csv'\ndf_diabetes = pd.read_csv(data_path)\n"

### Normalize Data

Normalization in a ML context refer to rescaling an input variable to the range between 0 and 1. Normalization requires that you know the minimun and the maximu values of each attribute. (how its affected for the outliers ?)

In [22]:
def dataset_minmax(dataset):
    minmax = []
    for i in range(len(dataset[0])):
        col_values = [row[i] for row in dataset]
        #print(col_values)
        value_min = min(col_values)
        value_max = max(col_values)
        minmax.append([value_min, value_max])
    return minmax

In [23]:
# PoC
dataset = [[50, 30], [20, 90], [6, 39]]
print(dataset)

df_test = pd.DataFrame(dataset)
df_test.head()

[[50, 30], [20, 90], [6, 39]]

    0   1
0  50  30
1  20  90
2   6  39

In [24]:
dataset_minmax(dataset)

[[6, 50], [30, 90]]

In [25]:
print(dataset_minmax(dataset))

[[6, 50], [30, 90]]

Once we have stimate the min and max values we can normalize the data in the range 0 1 the formula will be:  



  
for example value 100 = in a scale 0 a 100 should be 1 right (because its already the max)

but wich values is 43 in a scale from 30 - 60
in a salce 0 - 100 would be 0.43 = 43 / 100
so the formual would be
    43 -0 / 100 -0 where 0 is the min
    
in our case the min is 30 and the max 60.

**Solution:**  

   `sacaled_value = (value - min) / (max - min)`

In [26]:
# Rescale dataset columns to the range 0-1
def normalize_dataset(dataset, minmax):
    for row in dataset:
        for i in range(len(row)):
            row[i] = (row[i] - minmax[i][0]) / (minmax[i][1] - minmax[i][0])

In [33]:

url_data_diabetes = 'https://raw.githubusercontent.com/Enrique1987/data/master/02_ML/01_pima-indians-diabetes.csv'
df_diabetes = pd.read_csv(url_data_diabetes, index_col=0, header=None)
# I prever to runt it via Github cause I cann access anypoint for eample google colab or Kaggle.

df_diabetes.head()

     1   2   3    4     5      6   7  8
0
6  148  72  35    0  33.6  0.627  50  1
1   85  66  29    0  26.6  0.351  31  0
8  183  64   0    0  23.3  0.672  32  1
1   89  66  23   94  28.1  0.167  21  0
0  137  40  35  168  43.1  2.288  33  1

In [35]:
df_values = df_diabetes.values.tolist()
df_normalize = df_values.copy()

In [37]:
df_values[0]

[0.7437185929648241,
 0.5901639344262295,
 0.35353535353535354,
 0.0,
 0.5007451564828614,
 0.23441502988898377,
 0.48333333333333334,
 1.0]

In [36]:
# Calculate min and max for each column
minmax = dataset_minmax(df_normalize)
# Normalize columns
normalize_dataset(df_normalize, minmax)
print(df_normalize[0])

[0.7437185929648241, 0.5901639344262295, 0.35353535353535354, 0.0, 0.5007451564828614, 0.23441502988898377, 0.48333333333333334, 1.0]