In [1]:
import pandas as pd

In [4]:
# from github
df_sms = pd.read_csv('https://raw.githubusercontent.com/Enrique1987/data/master/02_ML/03_spam.csv',sep=",", encoding='cp1252', usecols=["v1", "v2"])
df_sms = df_sms.rename(columns={'v1': 'label', 'v2': 'text'})
df_sms.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df_sms.describe()

       label                    text
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

What does it mean that from unique in text are just 5169 from 5572, lets see what are the duplicate.

In [6]:
df_duplicates = df_sms[df_sms.duplicated(['text'], keep='first')]
df_duplicates.count()

label    403
text     403
dtype: int64

In [10]:
df_sms_unique = df_sms.drop_duplicates(subset=['label', 'text'], keep='first')
df_sms_unique.describe()

       label                                               text
count   5169                                               5169
unique     2                                               5169
top      ham  Go until jurong point, crazy.. Available only ...
freq    4516                                                  1